body {
  background-color: #B07736;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.kana-item {
  display: inline-block;
  font-family: 'Kosugi Maru', Arial, sans-serif;
  padding: 10px 20px;
  user-select: none;
  transition: color 200ms;
}
